/* Двигаем надпись вправо, при сужении экрана */
@media (max-width: 950px) {
  .why__top-body {
    padding: 51px 40px 49px 0;
  }
}
@media (max-width: 900px) {
  .why__top-body {
    padding: 51px 25px 49px 0;
  }
}
/* ============================== */
@media (max-width: 850px) {
  .private__body {
    padding: 30px 20px 30px 30px;
  }
  .private__body-title {
    font-size: 35px;
    line-height: 35px;
    margin: 0 0 20px 0;
  }
  .private__body-text {
    font-size: 14px;
    margin: 0 0 30px 0;
  }
  /* При уменьшении размера текста у .why__top-text (синхронно с уменьшением текста у private__body-title, что бы стиль лендинга был одинаковый) изменяем отступы, чтобы текст был примерно по центру колонки */
  .why__top-body {
    padding: 51px 65px 49px 0;
  }
  .why__top-text {
    font-size: 35px;
  }
  /* ========================== */
  .why__body {
    padding: 30px 0 0 0;
  }
  .why__body-inner {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .why__body-column {
    flex: 0 0 100%;
    padding: 0 0 30px 6px;
  }
  .why__body-info {
    padding: 0 0 0 12px;
  }
  .why__body-title {
    font-size: 20px;
  }
  .why__body-text {
    font-size: 14px;
    line-height: 21px;
  }
  .contacts {
    padding: 30px 0 0 0;
  }
}
@media (max-width: 830px) {
  .header-bottom-menu_left li {
    margin: 0 20px 0 0;
  }
  .header-bottom-menu_right li {
    margin: 0 0 0 20px;
  }
}
@media (max-width: 767px) {
  .private__column {
    flex: 0 0 100%;
  }
  .private__column:first-child {
    display: none;
  }
  .private__body-title {
    font-size: 50px;
    line-height: 50px;
  }
  .private__body-text {
    font-size: 15px;
  }
  .products {
    padding: 40px 0 0 0;
  }
  .products__inner {
    flex-wrap: wrap;
  }
  .products__column {
    flex: 0 0 calc(100% / 2);
  }
  .products__title {
    margin: 0 0 20px 0;
  }
  .products__text {
    max-width: 270px;
  }
  /* Кнопки выстраиваются в ряд на 767px, добавляется ограничение по ширине 275px, потому что justife-content: space-between; растягивает их на ширину всей карточки (ИМХО, это смотрится плохо) */
  .products__buttons {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 275px;
  }
  /* ========================================= */
  .products__btn {
    margin: 0 10px 0 0;
    align-self: initial;
  }
  .why__top-column {
    flex: 0 0 100%;
  }
  .why__top-column:last-child {
    display: none;
  }
  .why__top-body {
    text-align: center;
    padding: 45px 0 40px 0px;
  }
  .why__top-text {
    font-size: 50px;
  }
  .contacts__body-column {
    flex: 0 0 100%;
  }
  .contacts__content {
    flex-direction: column;
  }
  .contacts__content-column {
    flex: initial;
  }
  .contacts__map {
    height: 300px;
  }
  .contacts__form {
    padding: 30px 30px 30px 30px;
  }
  .contacts__form-body {
    max-width: none;
  }
  .footer {
    padding: 23px 0 23px 0;
  }
  .footer__inner {
    display: block;
    text-align: center;
  }
  .footer__column:last-child {
    display: none;
  }
}
@media (max-width: 590px) {
  .products__buttons {
    max-width: 215px;
  }
  /* Уменьшается размер кнопки через модификатор .btn_adaptive и .link_adaptive (уже имеется блок .btn, который стилизирует кнопку), так как текст внутри кнопки переносится на новую строку на данной ширине. С помощью line-height - текст кнопки центрируется по вертикали (вот такая вот гарнитура шрифта необычная) */
  .btn_adaptive-block2 {
    height: 45px;
    line-height: 48px;
    font-size: 17px;
    padding: 0 20px;
  }
  .link_adaptive-block2 {
    font-size: 17px;
  }
  /* ================================= */
}
@media (max-width: 500px) {
  .why__body-icon {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 480px) {
  .private__body-title {
    font-size: 35px;
    line-height: 35px;
  }
  .private__body-text {
    font-size: 14px;
  }
  .products__column {
    flex: 0 0 100%;
  }
  .products__image {
    margin: 0 0 20px 0;
  }
  .products__title {
    max-width: none;
    height: auto;
    overflow: visible;
  }
  .products__text {
    max-width: none;
    margin: 0 0 20px 0;
  }
  .products__buttons {
    max-width: none;
    flex-direction: column;
    align-items: flex-start;
  }
  .products__btn {
    margin: 0 0 20px 0;
  }
  /* Переписываются значения свойств .btn_adaptive и .link_adaptive таким образом, чтобы они соответствовали исходным значениям .btn и .link (как будто .btn_adaptive и .link_adaptive при @media (max-width: 767px) и не существовало, потому что на мобилке маленькая кнопка смотрится плохо */
  .btn_adaptive-block2 {
    height: 50px;
    line-height: 53px;
    font-size: 19px;
    padding: 0 32px;
  }
  .link_adaptive-block2 {
    font-size: 19px;
  }
  .why__top-text {
    font-size: 35px;
  }
  .footer__copy {
    font-size: 13px;
  }
}
@media (max-width: 380px) {
  .products {
    padding: 30px 0 0 0;
  }
  .products__column {
    margin: 0 0 30px 0;
  }
  .products__title {
    margin: 0 0 15px 0;
  }
  .products__text {
    margin: 0 0 15px 0;
  }
}
@media (max-width: 350px) {
  .btn_adaptive-block1 {
    height: 45px;
    line-height: 48px;
    font-size: 17px;
    padding: 0 20px;
  }
  .link_adaptive-block1 {
    font-size: 17px;
  }
}
@media (min-width: 831px) {
  .header-bottom-menu_right li:last-child {
    margin: 0 0 0 55px;
  }
}
