@font-face {
  font-family: "akzidenz";
  src: url("../fonts/akzidenz/AkzidenzGroteskBQ-BdCnd.eot");
  src: url("../fonts/akzidenz/AkzidenzGroteskBQ-BdCnd.eot")
      format("embedded-opentype"),
    url("../fonts/akzidenz/AkzidenzGroteskBQ-BdCnd.woff2") format("woff2"),
    url("../fonts/akzidenz/AkzidenzGroteskBQ-BdCnd.woff") format("woff"),
    url("../fonts/akzidenz/AkzidenzGroteskBQ-BdCnd.ttf") format("truetype"),
    url("../fonts/akzidenz/AkzidenzGroteskBQ-BdCnd.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bebas";
  src: url("../fonts/bebas/BebasNeue-Regular.eot");
  src: url("../fonts/bebas/BebasNeue-Regular.eot") format("embedded-opentype"),
    url("../fonts/bebas/BebasNeue-Regular.woff2") format("woff2"),
    url("../fonts/bebas/BebasNeue-Regular.woff") format("woff"),
    url("../fonts/bebas/BebasNeue-Regular.ttf") format("truetype"),
    url("../fonts/bebas/BebasNeue-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "pt sans";
  src: url("../fonts/pt_sans/PTSans-Regular.eot");
  src: url("../fonts/pt_sans/PTSans-Regular.eot") format("embedded-opentype"),
    url("../fonts/pt_sans/PTSans-Regular.woff2") format("woff2"),
    url("../fonts/pt_sans/PTSans-Regular.woff") format("woff"),
    url("../fonts/pt_sans/PTSans-Regular.ttf") format("truetype"),
    url("../fonts/pt_sans/PTSans-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
input,
textarea {
  border-radius: 0 !important;
  display: block;
  width: 100%;
}
textarea {
  resize: none;
  /* Не знаю, как стилизировать скроллбар и что делать с overflow, покаместь просто убираю (на макете скроллбара нет) */
  overflow: hidden;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 1 auto;
}
footer {
  flex: 0 0 auto;
}
.container {
  max-width: 900px;
  padding: 0 10px;
  margin: 0 auto;
}
body {
  font-family: "pt sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
}
.img-adaptive {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* HEADER */

.header {
  padding: 29px 0 32px 0;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top-lang {
  display: flex;
}
.header-top-lang__item {
  line-height: 21px;
  height: 20px;
  padding: 0 4px;
  margin: 0 12px 0 0;
  font-family: "bebas", sans-serif;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: underline;
}
.header-top-lang__item_active {
  color: #fff;
  background-color: #000;
  text-decoration: none;
}
.header-top-link {
  font-family: "akzidenz", sans-serif;
  font-size: 15px;
  color: #000;
  text-decoration: underline;
  text-transform: uppercase;
}
.header-bottom {
  display: flex;
  align-items: center;
  margin: -13px 0 0 0;
}
.header-bottom__column {
  flex: 0 0 calc(100% / 3);
}
.header-bottom-menu_left li {
  margin: 0 45px 0 0;
}
.header-bottom-menu_left li:last-child {
  margin: 0 0 0 0;
}
.header-bottom-menu_right li {
  margin: 0 0 0 45px;
}
.header-bottom-menu_right li:first-child {
  margin: 0 0 0 0;
}
.header-bottom-menu__list {
  display: flex;
}
.header-bottom-menu_right > .header-bottom-menu__list {
  justify-content: flex-end;
}
.header-bottom-menu__list-link {
  font-family: "akzidenz", sans-serif;
  font-size: 15px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.header-logo {
  display: block;
  text-align: center;
}
.header-logo__text {
  display: block;
  font-family: "bebas", sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.83em;
  color: #000000;
}
.header-logo__text > span {
  letter-spacing: 0.28em;
}
.header-logo__text_top {
  padding: 0 6px 0 0;
}
.header-logo__text_bottom {
  letter-spacing: 0.84em;
}
.header-logo__image {
  display: block;
  margin: 11px 0 22px 0;
}

/* PRIVATE */

.private {
  display: flex;
  background-color: #000;
}
.private__column {
  flex: 0 0 calc(100% / 2);
}
.private__image {
  height: 100%;
  position: relative;
}
.private__body {
  padding: 75px 20px 75px 60px;
}
.private__body-title {
  font-family: "akzidenz", sans-serif;
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
  max-width: 270px;
  margin: 0 0 24px 0;
}
.private__body-text {
  line-height: 25px;
  color: #ffffff;
  max-width: 310px;
  margin: 0 0 51px 0;
}
.private__body-buttons {
  display: flex;
  align-items: center;
}
.private__body-btn {
  margin: 0 15px 0 0;
}
.btn {
  height: 50px;
  line-height: 53px;
  font-family: "bebas", sans-serif;
  font-size: 19px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
  background-color: #000;
  padding: 0 32px;
  overflow: hidden;
}
.btn_w {
  color: #000;
  background-color: #fff;
}
.link {
  font-family: "bebas", sans-serif;
  font-size: 19px;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000;
}
.link_w {
  color: #fff;
}

/* PRODUCTS */

.products {
  padding: 75px 0 36px 0;
}
.products__inner {
  display: flex;
}
.products__column {
  flex: 0 0 calc(100% / 4);
  display: flex;
  flex-direction: column;
  margin: 0 0 40px 0;
}
.products__image {
  padding: 0 0 102% 0;
  position: relative;
  margin: 0 0 23px 0;
}
.products__info {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 0 6px;
}
.products__title {
  font-family: "akzidenz", sans-serif;
  font-size: 25px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0 0 26px 0;
  max-width: 185px;
  height: 50px;
  overflow: hidden;
}
.products__text {
  flex: 1 1 auto;
  line-height: 25px;
  margin: 0 0 28px 0;
  max-width: 185px;
}
.products__buttons {
  display: flex;
  flex-direction: column;
}
.products__btn {
  align-self: flex-start;
  margin: 0 0 29px 0;
}

/* WHY */

.why__top {
  display: flex;
}
.why__top-column {
  flex: 0 0 calc(100% / 2);
}
.why__top-body {
  background-color: #000;
  padding: 51px 55px 49px 0;
  text-align: right;
}
.why__top-text {
  font-family: "akzidenz", sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.why__top-image {
  height: 100%;
  position: relative;
}
.why__body {
  padding: 50px 0 0 0;
  background-color: #ebebeb;
}
.why__body-inner {
  display: flex;
  flex-wrap: wrap;
}
.why__body-column {
  flex: 0 0 calc(100% / 2);
  padding: 0 0 50px 6px;
}
.why__body-item {
  display: flex;
  /* align-items: center; */
}
.why__body-icon {
  flex: 0 0 auto;
  width: 100px;
  height: 100px;
  background-color: #000;
  position: relative;
}
.why__body-info {
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 12px;
}
.why__body-title {
  flex: 1 1 auto;
  font-family: "akzidenz", sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0 0 6px 0;
}
.why__body-text {
  line-height: 25px;
}

/* CONTACTS */

.contacts {
  padding: 75px 0 0 0;
}
.contacts__title {
  font-family: "akzidenz", sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0 0 24px 0;
}
.contacts__body {
  display: flex;
  flex-wrap: wrap;
}
.contacts__body-column {
  flex: 0 0 calc(100% / 2);
  padding: 0 0 0 6px;
  margin: 0 0 23px 0;
}
.contacts__item {
  color: #000;
  display: inline-block;
  padding: 0 0 0 35px;
  line-height: 27px;
  position: relative;
}
.contacts__item img {
  position: absolute;
  left: 0;
  top: 0;
  width: 27px;
  height: 27px;
  object-fit: none;
  object-position: 0% 50%;
}
.contacts__social {
  display: flex;
}
.contacts__social-item {
  width: 24px;
  height: 24px;
  position: relative;
  margin: 0 35px 0 0;
}
.contacts__social-item:last-child {
  margin: 0 0 0 0;
}
.contacts__social-item img {
  object-fit: none;
}
.contacts__content {
  display: flex;
  background-color: #000;
}
.contacts__content-column {
  flex: 0 0 calc(100% / 2);
}
.contacts__map {
  height: 100%;
  position: relative;
}
.contacts__form {
  padding: 50px 60px 50px 60px;
}
.contacts__form-title {
  font-family: "akzidenz", sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
  margin: 0 0 25px 0;
}
.contacts__form-body {
  max-width: 375px;
}
.contacts__form-line {
  margin: 0 0 25px 0;
}
.input {
  height: 50px;
  background-color: #252525;
  color: #959595;
  border: 2px solid #959595;
  padding: 18px 16px;
  font-family: "pt sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
}
textarea.input {
  padding: 13px 15px;
  height: 100px;
}

/* FOOTER */

.footer {
  padding: 45px 0 42px 0;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__copy {
  color: #4d4d4d;
}
.footer__copy > a {
  color: #4d4d4d;
  text-decoration: underline;
  margin: 0 0 0 3px;
}
.footer__logo {
  display: inline-block;
  width: 159px;
  height: 39px;
  position: relative;
}
